:root {
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --light-red-bg: hsla(0, 100%, 67%, 0.08);
    --orangey-yellow-bg: hsla(39, 100%, 56%, 0.08);
    --green-teal-bg: hsla(166, 100%, 37%, 0.08);
    --cobalt-blue-bg: hsla(234, 85%, 45%, 0.05);

    /* Background gradient */
    --light-slate-blue: hsl(252, 100%, 67%); 
    --light-royal-blue: hsl(241, 81%, 54%);

    /* Circle gradient */
    --violet-blue: hsl(256, 72%, 46%, 1); 
    --persian-blue: hsl(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%); 
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    --container-border-radius: 1.5rem;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
    font-weight: 500 800;
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
       scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* STYLING BEGINS */
body {
    font-size: 1.125rem; /* 18px */
    font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
    background: var(--pale-blue);
    flex-direction: column;

}

.result-container {
    background: var(--white);
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 0 0.75rem hsl(0, 0%, 91%);
}

.result-section {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    color: var(--white);
    border-radius: 0 0 var(--container-border-radius) var(--container-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 2.5rem;
}

.result-section h1, p {
    color: var(--light-lavender);
}

.result-section h1 {
    font-size: 1rem;
}

.result-section h2 {
    font-size: 3.5rem;
}

.result-section h3 {
    font-size: 1.8rem;
    font-weight: normal;
}

.result-section p {
    margin-top: 0.7rem;
    font-size: 0.9rem;
}

.result-section__circle {
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem 0;
}

.result-section__circle p {
    margin-top: -0.3rem;
    color: hsla(241, 100%, 89%, 0.6);
}

.summary-section {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 1.6rem; */
    padding: 2rem;
}

.summary-section h2 {
    font-size: 1.1rem;
}

.summary-section__list {
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    color: hsla(224, 30%, 27%, 0.6);
}

.summary-section__list img {
    width: 1rem;
}

.summary-section__list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem;
    margin: 0.8rem 0;
    border-radius: 0.5rem;
}

.summary-section__category {
    display: flex;
}

.summary-section__list p {
    padding-left: 0.5rem;
}

.reaction-item {
    background: var(--light-red-bg);
}

.reaction-txt {
    color: var(--light-red);
}

.memory-item {
    background: var(--orangey-yellow-bg);
}

.memory-txt {
    color: var(--orangey-yellow);
}

.verbal-item {
    background: var(--green-teal-bg);
}

.verbal-txt {
    color: var(--green-teal);
}

.visual-item {
    background: var(--cobalt-blue-bg);
}

.visual-txt {
    color: var(--cobalt-blue);
}

.bold-txt {
    font-weight: 700;
    color: var(--dark-gray-blue);
}

.summary-section__cont-btn {
    border: none;
    border-radius: 30rem;
    background: var(--light-royal-blue);
    color: var(--white);
    padding: 0.8rem 1rem;
    font-size: 1rem;
}

.summary-section__cont-btn:hover {
    cursor: pointer;
    background: var(--dark-gray-blue);
}

.attribution {
    font-size: 0.6875rem; /* 11px */
    text-align: center;
    padding: 0.5rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 30rem) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .result-container {
        max-width: 36rem;
        border-radius: var(--container-border-radius);
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;;
    }

    .result-section {
        border-radius: var(--container-border-radius);
    }

    .summary-section {
        border-radius: var(--container-border-radius);
    }

    .attribution {
        padding: 0.5rem 0 0 0;
    }
}