:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsla(216, 12%, 54%, 0.253);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
       scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* STYLING BEGINS */
body {
    font-size: 0.9375rem; /* 15px */
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    background: var(--very-dark-blue);
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    color: var(--white);
    font-size: 1.6rem;
}

p {
    margin-top: -1rem;
}

button:hover,
label:hover,
input[type=radio]:hover {
    cursor: pointer;
}

main {
    max-width: 90%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem;
    background: var(--dark-blue);
    border-radius: 1.5rem;
    height: 25rem;
}

/* Rating card */

.rating-card__img-div {
    background: var(--medium-grey);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-card__star-icon {
    width: 1rem;
    height: auto;
}

.rating-card__options {
    border: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

input[name="rating"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    position: absolute;
}

input[name="rating"] + label {
    background: var(--medium-grey);
    color: var(--light-grey);
    border-radius: 100%;
    width: 3rem;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

input[name="rating"] + label:hover {
    background: var(--orange);
    color: var(--white);
}

input[name="rating"]:checked + label {
    background: var(--light-grey);
    color: var(--white);
}

input[name="rating"]:focus-visible {
    outline: 0;
}

input[name="rating"]:focus-visible + label,
.rating-card__submit-btn:focus-visible {
    outline: 0.2rem solid var(--white);
}

.rating-card__submit-btn {
    border: none;
    border-radius: 20rem;
    padding: 0.8rem 0;
    background: var(--orange);
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    width: 100%;
}

.rating-card__submit-btn:hover {
    background: var(--white);
    color: var(--orange)
}

/* Thank you card */

.thankyou-card {
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.thankyou-card img {
    width: 11rem;
    height: auto;
}

.thankyou-card__rating {
    padding: 0.3rem 1rem;
    border-radius: 20rem;
    background: var(--medium-grey);
    color: var(--orange);
}

/* To show or hide the cards */

.show {
    display: flex;
}

.hidden {
    display: none;
}

/* Attribution */

.attribution {
    font-size: 0.6875rem; /* 11px */
    text-align: center;
    padding-top: 0.5rem;
}

.attribution a {
    color: hsl(228, 98%, 76%);
}

@media only screen and (min-width: 480px) {
    .card {
        max-width: 25rem;
    }
}