:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsla(216, 12%, 54%, 0.253);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.9375rem; /* 15px */
    min-height: 100vh;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    background: var(--very-dark-blue);
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    color: var(--white);
    font-size: 1.6rem;
}

p {
    margin-top: -1rem;
}

button:hover,
label:hover,
input[type=radio]:hover {
    cursor: pointer;
}

main {
    max-width: 90%;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem;
    background: var(--dark-blue);
    border-radius: 1.5rem;
    height: 25rem;
}

/* Rating card */

.rating-card__img-div {
    background: var(--medium-grey);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-card__star-icon {
    width: 1rem;
    height: auto;
}

.rating-card__options {
    border: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

input[name="rating"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    position: absolute;
}

input[name="rating"] + label {
    background: var(--medium-grey);
    color: var(--light-grey);
    border-radius: 100%;
    width: 3rem;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

input[name="rating"] + label:hover {
    background: var(--orange);
    color: var(--white);
}

input[name="rating"]:checked + label {
    background: var(--light-grey);
    color: var(--white);
}

input[name="rating"]:focus-visible + label,
.rating-card__submit-btn:focus-visible {
    outline: 0.2rem solid var(--white);
}

.rating-card__submit-btn {
    border: none;
    border-radius: 20rem;
    padding: 0.8rem 0;
    background: var(--orange);
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    width: 100%;
}

.rating-card__submit-btn:hover {
    background: var(--white);
    color: var(--orange)
}

/* Thank you card */

.thankyou-card {
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.thankyou-card img {
    width: 11rem;
    height: auto;
}

.thankyou-card__rating {
    padding: 0.3rem 1rem;
    border-radius: 20rem;
    background: var(--medium-grey);
    color: var(--orange);
}

/* To show or hide the cards */

.show {
    display: flex;
}