@import url(https://fonts.googleapis.com/css?family=Outfit);

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400 700;
    background: var(--light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

p {
    font-size: 15px;
    color: var(--grayish-blue);
    text-align: center;
    margin: 0.75rem;
}

.qr-container {
    background: var(--white);
    max-width: 19rem;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.qr-img {
    max-width: 100%;
    border-radius: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 0.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}